.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        田中 太郎
        %a.chat-side__user--edit-user( href='users/edit')
          %i.fa.fa-cog.white
        %a.chat-side__user-new-group( href='/groups/new' )
          %i.fa.fa-pencil-square.white
  .chat-side__groups
    .chat-side__groups-list
      .chat-side__group
        .chat-side__group-name
          サンプルグループ
        .chat-side__group-message
          こんにちは
      .chat-side__group
        .chat-side__group-name
          サンプルグループ2
        .chat-side__group-message
          こんばんは
.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        サンプルグループ
      %a.chat-main__header--group-edit-btn(href="groups/edit")
        edit
      .chat-main__header--group-members
        Member:田中太郎  山田花子
  .chat-main__body
    .chat-main__body--message(data-id="#")
      .chat-main__body--message-name
        田中太郎
      .chat-main__body--message-date
        2018/11/23 12:52:17
      .chat-main__body--message-text
        こんにちは
    .chat-main__body--message(data-id="#")
      .chat-main__body--message-name
        山田花子
      .chat-main__body--message-date
        2018/11/23 12:53:17
      .chat-main__body--message-text
        はじめまして
  .chat-main__bottom
    .chat-main__bottom--textbox
      type a message
      %i.fa.fa-image.black.fa-pull-right
    %a.chat-main__bottom--group-edit-btn(href="groups/edit")
      send







