.wrapper{
  widows: 100vw;
  height: 100vh;
}
.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  position: absolute;
  left: 300px;
  &__header{
    height: 96px;
    width: calc(100vw - 300px);
    border-bottom: solid 1px #eee;
    position: relative;
    top: 0;
    &--group-name{
      font-size: 20px;
      color: #333;
      float: left;
      padding: 19px 2px 4px 41px;
    }
    &--group-edit-btn{
      display:inline-block;
      width:100px;
      height: 40px;
      margin:20px 40px 0 0;
      text-align:center;
      padding: 12px 0 0 0;
      border:2px solid;
      border-color: $sky-blue;
      float: right;
      color: $sky-blue;
      text-decoration: none;
    }
    &--group-members{
      font-size: 15px;
      color: $light-gray;
      position: relative;
      top: 50px;
      left: -78px;
    }
  }
  &__body{
    height: calc(100vh - 180px);
    width: calc(100vw - 300px);
    position: relative;
    overflow: scroll;
    &--message{
      margin: 40px;
    }
    &--message-name{
      font-size: 16px;
      font-weight: bold;
      padding-right:10px;
      float: left;
    }
    &--message-date{
      font-size: 12px;
      color: $light-gray;
    }
    &--message-text{
      font-size: 14px;
      padding: 10px 0 40px 0;
    }
  }
  &__bottom--form{
    background-color: #eee;
    position: absolute;
    height: 90px;
    width: 100%;
    bottom: 0;
    &--textbox{
    height: 50px;
    width: calc(100vw - 500px);
    background-color:#fff;
    float: left;
    margin: 20px 0 20px 10px;
    color: $dark-gray;
    display: flex;
    align-items: center; /* 縦方向中央揃え */
    margin-left: 30px;
   }
  & .icon{
    position: relative;
    left: -50px;
    top: 35px;
  }
  &-upload-icon{
    display: none;
  }
  &--group-edit-btn{
    height: 50px;
    width: 80px;
    margin: 0 0 20px 30px ;
    background-color: $sky-blue;
    text-align: center;
    color: #fff;
    line-height: 50px;
    }
  }
}
