@import "./reset";
@import "./variable";
@import "font-awesome";
@import "./chat-side";

.chat-main{
  width: calc(100%-300px);
  .chat-main__header{
    height: 90px;
    border-bottom: solid 1px #eee;
    .chat-main__header--group-name{
      font-size: 20px;
      color: #333;
      float: left;
      padding: 19px 2px 4px 41px;
    }
    .chat-main__header--group-edit-btn{
      display:inline-block;
      width:100px;
      height: 40px;
      margin:20px 40px 0 0;
      text-align:center;
      padding: 12px 0 0 0;
      border:2px solid;
      border-color: #38a1db;
      float: right;
      color: #38a1db;
      text-decoration: none;
    }
    .chat-main__header--group-members{
      font-size: 15px;
      color: #999999;
      position: relative;
      top: 50px;
      left: -160px;
    }
  }
  .chat-main__body--message-list{
    padding: 40px 0 0 40px;
    width: calc(100vw - 300px);
    position: relative;
    left: 40px;
    .chat-main__message-name{
      font-size: 16px;
      font-weight: bold;
      padding-right:10px;
      float: left;
    }
    .chat-main__message-date{
      font-size: 12px;
      color: #999999;
    }
    .chat-main__message-text{
      font-size: 14px;
      padding: 10px 0 40px 0;
    }
  }
  .chat-main__bottom--group {
    background-color: #eee;
    position: absolute;
    left: 320px;
    width: calc(100%  - 300px);
    height: 90px;
    padding-left: 40px;
    bottom: 0;
  }
  .chat-main__bottom-textbox{
    height: 50px;
    width: calc(100vw - 500px);
    background-color:#fff;
    float: left;
    margin: 20px 0 20px 10px;
    color: #434a54;
    display: flex;
    align-items: center; /* 縦方向中央揃え */
    .black {
      color: black;
      height: 20px;
      width: 20px;
      float: right;
      display: inline-block;
      position: relative;
      left: 900px;
    }
   }
  .chat-main__bottom--group-edit-btn{
    display:inline-block;
    width:100px;
    height: 40px;
    margin:20px 40px 0 0;
    text-align:center;
    padding: 12px 0 0 0;
    float: right;
    color: #fff;
    background-color: #38a1db;
    text-decoration: none;
    position: relative;
    left: -30px;
    }
}



































